<!--
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">MEU SITE</a>
  <button class="navbar-toggler" type="button"
          data-toggle="collapse" data-target="#navbarNav" arial-control="navbarnav"
          aria-expanded="false" aria-label="Toggle navgation">
    <span class="navbar-toggle-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Pagina inicial</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="#">Sobre</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="#">contato</a>
      </li>
    </ul>
  </div>
</nav>
&lt;!&ndash;corpo da pagina&ndash;&gt;

<div>
  <table class="table table-dark">
    <thead>
    <tr>
      <th scope="col">Tarefa</th>
      <th scope="col">Data de Inicio</th>
      <th scope="col">Status</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">Lingua Inglesa</th>
      <td>27/03/2025</td>
      <td>Envio Atrasado</td>

    </tr>
    <tr>
      <th scope="row">Matematica</th>
      <td>15/05/2025</td>
      <td>Entregue</td>

    </tr>
    <tr>
      <th scope="row">Programação (POO)</th>
      <td>23/04/2025</td>
      <td>Entregue</td>

    </tr>
    </tbody>
  </table>


</div>

<div class="container my-">

  <footer class="text-center text-lg-start border border-white mt-xl-5 pt-4">

    <div class="container p-4">

      <div class="row">

        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
          <h5 class="text-uppercase mb-4">Sobre Nós</h5>
          <p>Uma escola que busca o aprendizado de todos </p>

        </div>

        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
          <h5 class="text-uppercase mb-4">Contatos</h5>
          <a href="#">facebook</a> <br>
          <a href="#">instagram</a>
        </div>

        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
          <h5 class="text-uppercase mb-4">inscreva-se para mais noticias</h5>

          <div class="form-outline form-white mb-4">
            <input type="email" id="form5Example2" class="form-control"/>
            <label class="form-label" for="form5Example2">Endereço de Email</label>
          </div>

          <button type="submit" class="btn btn-outline-white btn-block">Increva-se</button>
        </div>

      </div>

    </div>


    <div class="text-center p-3 border-top border-white">
      © 2025 Copyright:
      <a href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>

  </footer>

</div>-->

<app-cabecalho></app-cabecalho>
<app-tabela></app-tabela>
<app-rodape></app-rodape>






















