<div class="container mt-4">
 <h2>Lista de Tarefas
   <button class="btn btn-primary btn-arrendodamento" (click)="openModal()">
     <i class="fas fa-plus"></i>
     Nova Tarefa
   </button>
 </h2>
  <table *ngIf="tarefas.length > 0"  class="table-hover table table-striped">
    <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Tarefa</th>
          <th scope="col">Data Inicio</th>
          <th scope="col">Status</th>
          <th scope="col">Ações
            <i class="fas fa-cog"></i> </th>
        </tr>
    </thead>
    <tbody>
      <tr *ngFor="let t of tarefas;let i = index">
        <th scope="row">{{ i+1 }}</th>
        <td>{{t?.titulo}}</td>
        <td>{{t?.dataInicio}}</td>
        <td>{{t?.status}}</td>

        <button class="btn btn-danger rounded-circle"><i class="fas fa-trash"></i> </button>
        -
        <button class="btn btn-warning rounded-circle"><i class="fas fa-edit"></i> </button>
      </tr>
    </tbody>
  </table>
  <div *ngIf="tarefas.length <= 0" class="d-flex justify-content-center">
    <i class="fas fa-spin fa-spinner fa-3x fa-fw"></i>
    <h3>CARREGANDO...</h3>
  </div>
</div>



<div class="modal" tabindex="-1" id="add-tarefa">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title">Adicionar Tarefas</h5>
      </div>
      <form [formGroup]="form" (ngSubmit)="salvarTarefa()">
        <div class="modal-body">

              <div class="form-row">
                <div class="mb-3 col-md-12">
                  <label for="titulotarefa" class="form-label">Titulo Tarefa

                  </label>
             <input type="text" class="form-control" id="titulotarefa" formControlName="tituloTarefa" placeholder="Digite o título da tarefa">
                  <div *ngIf="iscampovalido('tituloTarefa')" class="text-danger">
                    Campo Obrigatório
                  </div>
                </div>


                <div class="mb-3 col-md-6">
                  <label class="form-label" for="datainiciotarefa" >Data Inicio</label>
                  <input class="form-control" type="datetime-local" id="datainiciotarefa" formControlName="dataInicioTarefa">
                  <div *ngIf="iscampovalido('dataInicioTarefa')" class="text-danger">
                    Campo Obrigatório
                  </div>
                </div>
                <div class="mb-3 col-md-6">
                  <label class="form-label" for="dataconclusaotarefa" >Data Conclusão</label>
                  <input class="form-control" type="datetime-local" id="dataconclusaotarefa" formControlName="dataCoclusaoTarefa">
                  <div *ngIf="iscampovalido('dataCoclusaoTarefa')" class="text-danger">
                    Campo Obrigatório
                  </div>
                </div>

              </div>

             <div>
               <div class="mb-3 col-md-6"></div>
               <div class="mb-3 col-md-6"></div>

               <div class="md-3 col">
                 <label >Status</label>
                 <select class="form-control" formControlName="statusTarefa">
                   <option value="NOVA">Nova</option>
                   <option value="EM ANDAMENTO" >Em andamento</option>
                   <option value="CONCLUIDA">Concluida</option>
                 </select>
                 <div *ngIf="iscampovalido('statusTarefa')" class="text-danger">
                   Campo Obrigatório
                 </div>
               </div>
               <div class="md-12 col-md-12">
                 <label >Descrição da Tarefa</label>
                  <textarea class="form-control" rows="3" formControlName="descricaoTarefa"></textarea>
                 <div *ngIf="iscampovalido('descricaoTarefa')" class="text-danger">
                   Campo Obrigatório
                 </div>
               </div>
             </div>



          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-bs-dismiss="modal"
            (click)="closeModal()">Fechar</button>
            <button class="btn btn-success" type="submit">Salvar</button>
          </div>
      </form>

    </div>
  </div>



</div>
