<div class="container mt-4">
 <h2>Lista de Tarefas
   <button class="btn btn-primary btn-arrendodamento" (click)="addtarefa()">
     <i class="fas fa-plus"></i>
     Nova Tarefa
   </button>
 </h2>
  <table class="table-hover table table-striped">
    <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Tarefa</th>
          <th scope="col">Data Inicio</th>
          <th scope="col">Status</th>
          <th scope="col">Ações
            <i class="fas fa-cog"></i> </th>
        </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Estudar Angular</td>
        <td>17/04/2025</td>
        <td>Em andamento</td>
        <button class="btn btn-danger rounded-circle"><i class="fas fa-trash"></i> </button>
        -
        <button class="btn btn-warning rounded-circle"><i class="fas fa-edit"></i> </button>






      </tr>

    </tbody>
  </table>



</div>

